/*To compile scss file with ruby on windows: sass --compass --watch styles.scss:styles.css*/
/*Colour Variables*/

$background1: #00101d;
$background2: #002f53;
$background3: #818181;
$highlight1: #27fdf5 ;
$hightlight2: #f765b8;
$backgroundHover: #2c30c8;
$hoverText: #f98dc9;


body {
  background-color: $background1;
  margin: 0;
  padding: 0;
  .navbar-collapse {
      text-align: center;
  }

  #firstBlock{

      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: none;

      #video{

         margin: auto;
         position: absolute;
         z-index: -1;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         visibility: visible;
         width: auto;
         height: 962px;


      }
  }

  #secondBlock{

    background-attachment: fixed;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;
  }
  .insta{
      height: 800px;
      width: 50%;
      height: 80%;
  }
  .navbar{
      .logo{
        height: 60px;
        padding: 5px;
        padding-left: 10px;


      }
      .fa{
          color: $highlight1;
          font-size: 2em;
          transition:color 0.2s ease-in;
      }
      .navElement{
          height: 100%;
          transition:background-color 0.2s ease-in;

          &:hover{
              background-color: $background3;
               .fa{color: $hoverText;}
          }
      }
  }


  .subtext{
    color: $hightlight2;
  }

  .contentImage{
    padding-left: 30%;
    padding-right: 30%;
  }

  .colItem{
    transition:background-color 1s ease-in;
  }

  .colItem:hover{
    color: $hoverText;
    background-color: $backgroundHover;
  }
}
