/*To compile scss file with ruby on windows: sass --compass --watch styles.scss:styles.css*/
/*Colour Variables*/

$background1: #00101d;
$background2: #002f53;
$background3: #818181;

$highlight1: #27fdf5 ;
$hightlight2: #f765b8;

$backgroundHover: #2c30c8;
$hoverText: #f98dc9;


body {
  background-color: $background1;
  margin: 0;
  padding: 0;
  .navbar-collapse {
      text-align: center;
  }

  #firstBlock{
    
    #video{
        position: fixed;
        margin: 0%;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }


    background-color: $background3;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;

    img{
      transition:background-color 0.5s ease-in;
    }
    #set-height {
      display: block;
    }


    img:hover{
      color: $hoverText;
      background-color: $backgroundHover;
    }
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

  }

  #secondBlock{

    background-image: url('../img/record.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $background2;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;
  }

  #thirdBlock{

    background-attachment: fixed;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;
  }
  .navbar{
      .logo{
        height: 60px;
        padding: 5px;
        padding-left: 10px;


      }
      .fa{
          color: $highlight1;
          font-size: 2em;
          transition:color 0.2s ease-in;
      }
      .navElement{
          height: 100%;
          transition:background-color 0.2s ease-in;

          &:hover{
              background-color: $background3;
               .fa{color: $hoverText;}
          }
      }
  }
  iframe{
    width: 50%;
    height: 80%;
  }

  .subtext{
    color: $hightlight2;
  }

  .contentImage{
    padding-left: 30%;
    padding-right: 30%;
  }

  .colItem{
    transition:background-color 1s ease-in;
  }

  .colItem:hover{
    color: $hoverText;
    background-color: $backgroundHover;
  }
}
