
/*Colour Variables*/

$background1: #00101d;
$background2: #002f53;
$background3: #818181;

$highlight1: #27fdf5 ;
$hightlight2: #f765b8;

$backgroundHover: #2c30c8;
$hoverText: #f98dc9;

body {
  background-color: $background1;
  margin: 0;
  padding: 0;

  #firstBlock{
    background-color: $background3;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;

    img{
      transition:background-color 0.5s ease-in;
    }

    img:hover{
      color: $hoverText;
      background-color: $backgroundHover;
    }

  }

  #secondBlock{
    background-image: url('../img/logo.png');
    background-attachment: fixed;
    background-color: $background2;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;
  }

  #thirdBlock{

    background-attachment: fixed;
    color: $highlight1;
    padding-top: 45px;
    text-align: center;
  }
  iframe{

    width: 50%;
    height: 80%;
  }
  .logo{
    height: 50px;
    padding: 0px;
    padding-left: 5px;
  }
  .subtext{
    color: $hightlight2;
  }

  .contentImage{
    padding-left: 30%;
    padding-right: 30%;
  }

  .colItem{
    transition:background-color 1s ease-in;
  }

  .colItem:hover{
    color: $hoverText;
    background-color: $backgroundHover;
  }
}
