
body{
  background-color: #00101d;
  margin: 0;
  padding: 0;
}
.mainContainer{
/*  background-color: #002f53;*/

}
.subtext{
  color: #f765b8;
}
.logo{
  height: 50px;
  padding: 0px;
  padding-left: 5px;

}
.contentImage{
  padding-left: 30%;
  padding-right: 30%;
}
.colItem{
  -webkit-transition-property:color, background;
  -webkit-transition-duration: 1s, 1s;
  -webkit-transition-timing-function: linear, ease-in;
   -moz-transition:background-color 1s ease-in;
   -o-transition:background-color 1s ease-in;
   transition:background-color 1s ease-in;
}
.colItem:hover{
  color: #f98dc9;
  background-color: #2c30c8;
}
#mainBlock{
  background-color: gray;
  color: #27fdf5;
  padding-top: 45px;
  text-align: center;

 }
}
#secondBlock{
  background-color: #002f53;
  color: #27fdf5;
  padding-top: 45px;
  text-align: center;
}
#thirdBlock{
  background-image: url('img/logo.png');
  background-attachment: fixed;

   color: #27fdf5;
  padding-top: 45px;
  text-align: center;
}
